@font-face {
    font-family: 'TisaOT';
    src: url('../font/TisaOT-Thin.eot');
    src: url('../font/TisaOT-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/TisaOT-Thin.woff2') format('woff2'),
        url('../font/TisaOT-Thin.woff') format('woff'),
        url('../font/TisaOT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TisaOT-BoldIta';
    src: url('../font/TisaOT-BoldIta.eot');
    src: url('../font/TisaOT-BoldIta.eot?#iefix') format('embedded-opentype'),
        url('../font/TisaOT-BoldIta.woff2') format('woff2'),
        url('../font/TisaOT-BoldIta.woff') format('woff'),
        url('../font/TisaOT-BoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TisaOT-LightIta';
    src: url('../font/TisaOT-LightIta.eot');
    src: url('../font/TisaOT-LightIta.eot?#iefix') format('embedded-opentype'),
        url('../font/TisaOT-LightIta.woff2') format('woff2'),
        url('../font/TisaOT-LightIta.woff') format('woff'),
        url('../font/TisaOT-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TisaOT-Ita';
    src: url('../font/TisaOT-Ita.eot');
    src: url('../font/TisaOT-Ita.eot?#iefix') format('embedded-opentype'),
        url('../font/TisaOT-Ita.woff2') format('woff2'),
        url('../font/TisaOT-Ita.woff') format('woff'),
        url('../font/TisaOT-Ita.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

