@font-face {
  font-family: 'icoLGMR';
  src:  url('../font/icoLGMR.eot?e0dnzn');
  src:  url('../font/icoLGMR.eot?e0dnzn#iefix') format('embedded-opentype'),
    url('../font/icoLGMR.ttf?e0dnzn') format('truetype'),
    url('../font/icoLGMR.woff?e0dnzn') format('woff'),
    url('../font/icoLGMR.svg?e0dnzn#icoLGMR') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoLGMR' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-134836:before {
  content: "\e908";
}
.icon-134867:before {
  content: "\e90a";
}
.icon-136440:before {
  content: "\e90b";
}
.icon-1034131:before {
  content: "\e90c";
}
.icon-1034138:before {
  content: "\e90e";
}
.icon-add:before {
  content: "\e900";
}
.icon-checked-1:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-compose:before {
  content: "\e903";
}
.icon-diamond:before {
  content: "\e904";
}
.icon-diploma:before {
  content: "\e905";
}
.icon-error:before {
  content: "\e906";
}
.icon-funnel:before {
  content: "\e907";
}
.icon-id-card-3:before {
  content: "\e909";
}
.icon-list:before {
  content: "\e90d";
}
.icon-resume:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-user-4:before {
  content: "\e919";
}
