/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer; }

ol, ul, li {
  list-style: none; }

@font-face {
  font-family: 'TisaOT';
  src: url("../font/TisaOT-Thin.eot");
  src: url("../font/TisaOT-Thin.eot?#iefix") format("embedded-opentype"), url("../font/TisaOT-Thin.woff2") format("woff2"), url("../font/TisaOT-Thin.woff") format("woff"), url("../font/TisaOT-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'TisaOT-BoldIta';
  src: url("../font/TisaOT-BoldIta.eot");
  src: url("../font/TisaOT-BoldIta.eot?#iefix") format("embedded-opentype"), url("../font/TisaOT-BoldIta.woff2") format("woff2"), url("../font/TisaOT-BoldIta.woff") format("woff"), url("../font/TisaOT-BoldIta.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'TisaOT-LightIta';
  src: url("../font/TisaOT-LightIta.eot");
  src: url("../font/TisaOT-LightIta.eot?#iefix") format("embedded-opentype"), url("../font/TisaOT-LightIta.woff2") format("woff2"), url("../font/TisaOT-LightIta.woff") format("woff"), url("../font/TisaOT-LightIta.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'TisaOT-Ita';
  src: url("../font/TisaOT-Ita.eot");
  src: url("../font/TisaOT-Ita.eot?#iefix") format("embedded-opentype"), url("../font/TisaOT-Ita.woff2") format("woff2"), url("../font/TisaOT-Ita.woff") format("woff"), url("../font/TisaOT-Ita.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'icoLGMR';
  src: url("../font/icoLGMR.eot?e0dnzn");
  src: url("../font/icoLGMR.eot?e0dnzn#iefix") format("embedded-opentype"), url("../font/icoLGMR.ttf?e0dnzn") format("truetype"), url("../font/icoLGMR.woff?e0dnzn") format("woff"), url("../font/icoLGMR.svg?e0dnzn#icoLGMR") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoLGMR' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-134836:before {
  content: "\e908"; }

.icon-134867:before {
  content: "\e90a"; }

.icon-136440:before {
  content: "\e90b"; }

.icon-1034131:before {
  content: "\e90c"; }

.icon-1034138:before {
  content: "\e90e"; }

.icon-add:before {
  content: "\e900"; }

.icon-checked-1:before {
  content: "\e901"; }

.icon-close:before {
  content: "\e902"; }

.icon-compose:before {
  content: "\e903"; }

.icon-diamond:before {
  content: "\e904"; }

.icon-diploma:before {
  content: "\e905"; }

.icon-error:before {
  content: "\e906"; }

.icon-funnel:before {
  content: "\e907"; }

.icon-id-card-3:before {
  content: "\e909"; }

.icon-list:before {
  content: "\e90d"; }

.icon-resume:before {
  content: "\e913"; }

.icon-search:before {
  content: "\e914"; }

.icon-user-4:before {
  content: "\e919"; }

body {
  background-color: #f0f0f0;
  padding: 20px; }

.perfil {
  width: 300px;
  float: right;
  height: 300px;
  background-color: #fefefe;
  display: inline-block;
  padding: 20px;
  text-align: center; }
  .perfil__titulo {
    font-family: "TisaOT-BoldIta";
    font-size: 22px;
    text-align: left;
    margin-bottom: 20px;
    color: #55606e; }
  .perfil__foto {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px; }
  .perfil__nombre {
    font-family: "TisaOT-LightIta";
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #676768;
    color: #39393b; }
