@import "extras/reset";
@import 'extras/font';
@import "extras/iconos";
@import "extras/girdLGMR";

body {
	background-color: #f0f0f0;
	padding: 40px;
}

.perfil {
	width: 30%;
	float: right;
	height: 400px;
	background-color: #fefefe;
	display: inline-block;
	padding: 20px;
	text-align: center;

	&__div {
		display: block;
		width: 100%;
		height: 40px;
		margin-bottom: 20px;
	}

	&__titulo {
		font-family: "TisaOT-BoldIta";
		font-size: 22px;
		text-align: left;
		color: #55606e;
		display: inline-block;
		float: left;
		margin-bottom: 20px;
	}

	&__icono {
		color: #55606e;
		font-size: 30px;
		float: right;
		margin-bottom: 20px;
	}

	&__foto {
		margin: 0 auto;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin-bottom: 20px;
		display: block;
	}

	&__nombre {
		display: block;
		margin: 0 auto;
		width: 90%;
		font-family: "TisaOT-LightIta";
		font-size: 18px;
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid #676768;
		color: #39393b;

	}

	&__contacto {
		margin: 0 auto;
		width: 90%;
		display: block;
		text-align: left;
		margin-top: 20px;

		&__puesto {
			margin-bottom: 10px;

			& i {
				color: #4b4b4d;
				font-size: 30px;
				margin-right: 20px;
			}

			& p {
				font-size: 18px;
				color: #4b4b4d;
				vertical-align: super;
				display: inline-block;
				font-family: "TisaOT-LightIta";
			}
		}

		&__telefono {
			margin-bottom: 10px;

			& i {
				color: #4b4b4d;
				font-size: 30px;
				margin-right: 20px;
			}

			& p {
				font-size: 18px;
				color: #4b4b4d;
				vertical-align: super;
				display: inline-block;
				font-family: "TisaOT-LightIta";
			}
		}

		&__correo {
			margin-bottom: 10px;

			& i {
				color: #4b4b4d;
				font-size: 30px;
				margin-right: 20px;
			}

			& p {
				font-size: 18px;
				color: #4b4b4d;
				vertical-align: super;
				display: inline-block;
				font-family: "TisaOT-LightIta";
			}
		}

	}
}

.nombre {
	width: 65%;
	height: 90px;
	float: left;
	display: inline-block;
	background-color: #fefefe;

	&__titulo {
		font-family: "TisaOT-BoldIta";
		font-size: 34px;
		text-align: left;
		color: #55606e;
		display: inline-block;
		line-height: 90px;
		margin-left: 20px;
		float: left;
	}

	&__icono {
		color: #55606e;
		font-size: 38px;
		margin-right: 30px;
		line-height: 90px;
		text-align: right;
		display: inline-block;
		float: right;
	}
}

.experiencia {
	margin-right: 10px;
	margin-top: 40px;
	width: 29%;
	float: left;
	height: 480px;
	background-color: #fefefe;
	display: inline-block;
	padding: 20px;
	text-align: center;

	&__circulo{
		width: 20px;
		height: 20px;
		border: 1px solid #55606e;
		border-radius: 50%;
		margin-bottom: 10px;
		margin-top: 10px;
		display: block;
		left: -10px;
		position: relative;
	}
	&__div{
		display: block;
		height: 20px;
	}
	&__titulo {
		font-family: "TisaOT-BoldIta";
		font-size: 18px;
		float: left;
		text-align: left;
		color: #55606e;
		margin-top: 9px;
	}

	&__icono {
		font-size: 30px;
		float: right;
	}

	&__lista {
		padding:10px;
		text-align: left;
		position: relative;
		display: block;
		margin-top: 20px;

		&__trabajo{
			border-left: 1px solid #55606e;
			& p {
				margin-left: 10px;
				font-size: 18px;
				color: #2e3c4d;
				display: inline-block;
				font-family: "TisaOT-Ita";
				margin-bottom: 5px;
			}
			& span{
				margin-left: 10px;
				font-size: 14px;
				color: #4b4b4d;
				display: block;
				font-family: "TisaOT-LightIta";
				margin-bottom: 5px;
			}
		}
	}
}

.educacion {
	margin-left: 10px;
	margin-top: 40px;
	width: 28.5%;
	float: left;
	height: 400px;
	background-color: #fefefe;
	display: inline-block;
	padding: 20px;
	text-align: center;
}